@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.hero{
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.Manrope{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
}

#element{
  color: var(--accent-success);
}
.hero-title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-description{
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  max-width: 600px;
  margin-bottom: 2rem;
}
.hero-butn-group{
  display: flex;
  gap: 1rem;
}
.hero-butn-group{
  display: flex;
  gap: 4rem;

}
.hero-butn-group button{
  background-color: transparent;
  color: white;
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 outline: 2px solid white;
 
}
.hero-butn-group .for-student::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
 
}
.hero-butn-group .for-student:hover::before {
 width: 9em;
}
.hero-butn-group button:focus-visible {
 outline: 2px solid white;
}

.hero-sponor-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.brand-logo img{
  width: 100px;
  height: auto;
}